@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.home {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
}

.home .introduction {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-between;
  margin-top: 15vh;
}

.introduction .hello {
  display: flex;
  flex-direction: column;
}

.introduction .paragraphe {
  font-size: 20px;
  width: 50%;
}

.hello .credentials {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 20px;
}
.credentials .wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrapper h3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #5667f6;
  color: white;
  border-radius: 20px;
}

.introduction .buttons {
  display: flex;
  gap: 1rem;
  font-size: 20px;
}

.contact {
  background-color: #ea5633;
  color: White;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  gap: 0.5rem;
  transition: 0.2s ease-in;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .3), 0 2px 4px -2px rgba(0, 0, 0, .3);
}

.contact:hover {
  transition: 0.2s ease-in-out;
  transform: translateY(-5px);
  border-radius: 5px;
  background-color: #f57559;
  color: White;
}

.projects {
  transition: 0.2s ease-in-out;
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.projects:hover {
  transition: 0.2s ease-in-out;
  transform: translateY(-5px);
}

.image {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  object-fit: cover;
}

.image img {
  height: 95vh;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: left;
  z-index: 998;
}

.logo {
  z-index: 999;
  position: absolute;
  left: 70%;
  align-items: center;
}

@media only screen and (min-width: 300px) and (max-width: 1300px) {

  .home {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .wrapper h1{
    font-size: 30px;
  }

  .credentials h1{
    font-size: 30px;
  }

  .wrapper h3{
    font-size: 15px;
  }

  .home .introduction {
    height: 45vh;
    display: flex;
    margin-left: 1rem;
    margin-top: 10vh;
  }

  .introduction .paragraphe{
    width: 90%;
  }

  .image {
    width: fit-content;
    display: flex;
    object-fit: cover;
    margin-top: 10vh;
  }

  .image img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: left;
    z-index: 998;
  }


}
